<h1>Login</h1>

<p>Enter agent ID.</p>

<form name="login" action="agent/login" method="post">
  <label for="agent"><b>Agent ID:</b></label>
  <input id="agent" type="text" required />

  <div style="margin-top: 15px">
    <button type="submit">Log in</button>
  </div>
</form>